[Unit]
Description=Provides a probability that your baby is crying by continuously recording audio.
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/pi/cry-baby-hadi/
ExecStart=/usr/bin/bash /home/pi/cry-baby-hadi/run.sh

[Install]
WantedBy=multi-user.target
